5body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* NAVBAR */
.navbar {
    background: black;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    color: white;
    padding: 12px 18px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}
.logo {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/* MAIN SECTION */
.container {
    width: 90%;
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background: white;
    text-align: center;
    border-radius: 10px;
}

.container h1 {
    font-size: 2.2rem;
}

.container p {
    font-size: 1.2rem;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 1.1rem;
    background: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* SERVICES */
.services {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

.services h2 {
    text-align: center;
    margin-bottom: 30px;
}

.service-box {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
}.contact {
    background: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
}.gallery {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}

.gallery img {
    width: 100%;
    max-width: 400px;
    margin: 10px;
    border-radius: 10px;
}
/* Contact Form Styles */
.contact {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  background: #f7f7f7;
}

.contact h2 {
  text-align: center;
  margin-bottom: 10px;
}

.contact p {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact input,
.contact textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.contact button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #0b74de;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}